.nav-item-admin{
    transition: all .5s ease-in-out;
    background-color: beige;
    border-radius: 10px;
    margin-left:5px ;
}
.nav-item-admin:hover{
    background-color: rgb(210 , 210 , 210);
    border-radius: 10px;
   transform: scale(1.12);
}
.navbar-admin{
    background-image: linear-gradient(to bottom,  #b8b894 , #ebebe0);
    }

